<h2 class="text-center mb-4">Registration List</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Challenge Category</th>
      <th>Photo</th>
      <th>Time (min)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataArray">
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.phonenumber }}</td>
      <td>{{ data.challenge }}</td>
      <td>
        <img [src]="data.image" alt="User photo" style="width:100px;height:100px;">
        <input type="file" class="form-control" (change)="onFileSelected($event, data)">

        <!-- <button type="button" class="btn btn-success" (click)="onSaveImage(data)">Save</button> -->
      </td>
      <td>
        <input type="number" class="form-control" [(ngModel)]="data.time">
      </td>
      <td><button type="button" class="btn btn-success" (click)="onSaveData(data)">Save</button>
      </td>
    </tr>
  </tbody>
</table>
